<html>
    <header>
        <h1>Test Page for Rent Roll Web App<h1>
        <link rel="stylesheet" href=""/>
    </header> 

    <script src="{{ url_for('static', filename='Connection.js') }}"></script>

    <body>
        <div>Choose a rent roll to read</div>
        <form enctype = "multipart/form-data" onsubmit="return false;" >
            <input id="file" type="file" name="static_file" />
            <button id="upload-button" onclick="sendData(this.form)"> Upload </button>
        </form>

        <textarea id="displayRoll" rows="30" cols="200">This is where parsed rent roll information will be displayed</textarea>

        <button onclick="getUsers()">Retrive last parsed file</button>
    </body>

</html>